@import 'tailwindcss';

:root {
  --background: #ffffff;
  --foreground: #171717;
}

@theme inline {
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --font-sans: var(--font-geist-sans);
  --font-mono: var(--font-geist-mono);

  /* Custom color palette */
  --color-ink-black: #071e22ff;
  --color-deep-ocean: #1d7874ff;
  --color-jungle-teal: #679289ff;
  --color-peach-glow: #f4c095ff;
  --color-racing-red: #ee2e31ff;
  --color-light-peach: #ffecd1ff;
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #0a0a0a;
    --foreground: #ededed;
  }
}

body {
  background: var(--color-light-peach) !important;
  color: var(--foreground);
  font-family: Arial, Helvetica, sans-serif;
}

input,
textarea {
  color: var(--color-ink-black) !important;
}
