@import 'tailwindcss';

@layer base {
  :root {
    --background: 0 21 36; /* #001524 */
    --foreground: 255 236 209; /* #ffecd1 */
    --primary: 21 97 109; /* #15616d */
    --primary-foreground: 255 236 209;
    --accent: 255 125 0; /* #ff7d00 */
    --accent-foreground: 0 21 36;
    --muted: 120 41 15; /* #78290f */
    --muted-foreground: 255 236 209;
    --border: 21 97 109;
    --input: 21 97 109;
    --ring: 255 125 0;
  }
}

@layer base {
  * {
    border-color: rgb(var(--border));
  }
  body {
    background-color: rgb(var(--background));
    color: rgb(var(--foreground));
  }
}
